<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Madlibs</title>
</head>


<body>
  <h1>Welcome to Ryan and Min's Madlibs</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sequi corporis optio doloremque cumque similique fugit
    rerum, quo quia, veritatis mollitia nemo amet earum facilis eligendi facere beatae. Debitis, deserunt
    eos @Model.First
    Error distinctio quis possimus laborum, accusantium alias illum minima expedita consequuntur? Labore repudiandae
    assumenda dolores sed a aut ut delectus illo quibusdam, nostrum laborum itaque nemo deleniti cumque nobis
    inventore. @Model.Second
    Quidem animi eaque @Model.Third sed doloribus commodi earum ad, nobis quaerat illum facilis optio
    nihil harum
    eveniet est quas ab voluptas vitae. Odio voluptas earum laborum harum, soluta natus eligendi facilis? @Model.Fourth
    Doloremque, molestias acModele. @Model.Fifth similique natus reprehenderit
    architecto? Voluptatem. fugiat eaque, maiores inventore ratione @Model.Sixth molestias quo beatae nisi nam quam
    obcaecati quisquam
    M animi reiciendis, odel. voluptatum.
    Quos dolor ratione eos.@Model.Seventh Corporis numquam non alias cumque quos dolorum, quo voluptatibus
    magnam
    M repellat molestiae accusantium hic vitae quae in dolor ducimus eaque rem? Accusantium nostrum modi impedit
    consectetur.</p>
</body>

</html>